body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 15px; */
    background-image: url("img/lightpaperfibers.png");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #6C5F52;
    /* padding: 40px 0; */
}

h2 {
    padding-top: 15px;
}

#about .container,
#skills .container,
#portfolio .container{
    background-color: rgb(250, 245, 235);
    /* padding: 0; */
}

/* Navigation bar */
nav a {
    color: #354948;
    text-decoration: solid;
    text-decoration: none;
    display: block;
}

nav a:hover{
    text-decoration: none;
}

#page-name{
    font-weight: 700;
}

#page-name:hover{
    text-decoration: none;
    color: #6C5F52;
}

.navbar {
    min-height: 58px;
    text-align: right;
}

.bg-own {
    background-color: #5c9c94;
}

/* Header */
header.masthead {
    text-align: center;
    color: #354948;
    background-image: url("img/typewriter-801921_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .intro-text {
    padding-top: 200px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 80px;
    font-weight: 700;
    line-height: 50px;
    font-style: italic;
    margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header.masthead .intro-text .intro-lead-in {
        font-size: 80px;
        font-style: italic;
        line-height: 50px;
        font-style: italic;
        margin-bottom: 25px;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

/* Contact form */
.btn-color {
    background-color: #7C8173;
    color: #D2CBAA;
}

section#contact {
    background-color: #354948;
}

section#contact .section-heading {
    color: #D2CBAA;
    padding-bottom: 25px;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 248px;
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #6C5F52
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
}

#clearButton,
#sendMessageButton{
    width: 140px;
}

/* About */
.avatar img {
    width: 125px;
    height: 125px;
    border: 5px solid #5c9c94;
    display: block;
}

.avatar,
.more-about,
.personal {
    padding: 10px;
}

.bold {
    font-weight: 600;
    color: #354948;
}

/* Skills */
#skills  img{
    
width: 100%;
height: 50px;
object-fit: contain;

}
  .one-skill {
    background-color: rgba(210, 203, 170, 0.527);
    min-height: 120px;
    position: relative;
  }  
  .one-skill:hover .overlay-effect {
    opacity: 1;
  }
  .one-skill:hover h4,
  .one-skill:hover a{
    filter: blur(2px);
  }
  
  .overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .4s ease-in-out;
    font-size: 15px;
    background-color: #5c9c9585;
    color: rgb(65, 57, 49);
    overflow:hidden;
    z-index: 1;
  }
  
  .service-heading {
    margin: 15px 0;
    text-transform: none;
}
  @media screen and (max-width: 768px) {
    .one-skill {margin-bottom: 10px;}
  }

/* Portfolio */

#portfolio img{
 width: 100%;
 height: auto;
 object-fit: contain;
}  
.one-photo:hover .overlay-effect {
    opacity: 1;
}
.one-photo:hover .photo{
    filter: blur(2px);
}
    
.one-photo .overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .4s ease-in-out;
    font-size: 15px;
    background-color: rgba(65, 57, 49, 0.644);
    color: rgb(231, 210, 188);
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one-photo .text{
    margin: 20px;
}
      
/* Footer */
footer {
    background-color: #5c9c94;
    color: #D2CBAA;
}

footer ul.social li {
    font-family: "Font Awesome 5";
    margin-bottom: 0;
}

footer ul.social li a i {
    margin-right: 5px;
    font-size: 20px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
    color: #354948;
}

footer ul.social li a {
    color: #D2CBAA;
}

footer ul.social li a:hover {
    color: #7C8173;
}

footer p {
    color: #354948;
}