body {
  overflow-x: hidden;
  font-family: Montserrat,sans-serif;
  background-image: url(../img/lightpaperfibers.png);
  background-repeat: repeat;
  background-attachment: fixed;
  color: #6c5f52
}
h2 {
  padding-top: 15px
}
#about .container,
#portfolio .container,
#skills .container {
  background-color: rgba(250,245,235,.473)
}
nav a {
  color: #354948;
  text-decoration: solid;
  text-decoration: none;
  display: block
}
nav a:hover {
  text-decoration: none
}
#page-name {
  font-weight: 700
}
#page-name:hover {
  text-decoration: none;
  color: #6c5f52
}
.navbar {
  min-height: 58px;
  text-align: right
}
.bg-own {
  background-color: #5c9c94
}
header.masthead {
  text-align: center;
  color: #354948;
  background-image: url(../img/typewriter-801921_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover
}
header.masthead .intro-text {
  padding-top: 200px;
  padding-bottom: 100px;
  font-size: 12vw;
  font-weight: 700;
  line-height: 50px;
  font-style: italic;
  margin-bottom: 25px
}
@media (min-width:768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    font-style: italic;
    line-height: 50px;
    font-style: italic;
    margin-bottom: 25px
  }
}
.btn-color {
  background-color: #7c8173;
  color: #d2cbaa
}
section#contact {
  background-color: #354948
}
section#contact .section-heading {
  color: #d2cbaa;
  padding-bottom: 25px
}
section#contact .form-group {
  margin-bottom: 25px
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 10px
}
section#contact .form-group input.form-control {
  height: auto
}
section#contact .form-group textarea.form-control {
  height: 248px
}
section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #6c5f52
}
section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da
}
section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da
}
section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da
}
#clearButton,
#sendMessageButton {
  width: 140px
}
.avatar img {
  width: 125px;
  height: 125px;
  border: 5px solid #5c9c94;
  display: block
}
.avatar,
.more-about,
.personal {
  padding: 10px
}
.bold {
  font-weight: 600;
  color: #354948
}
#skills img {
  height: 50px;
  object-fit: contain
}
.one-skill {
  background-color: rgba(210,203,170,.527);
  min-height: 120px;
  position: relative
}
.one-skill:hover .overlay-effect {
  opacity: 1
}
.one-skill:hover a,
.one-skill:hover h4 {
  filter: blur(2px)
}
.one-skill .overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .4s ease-in-out;
  font-size: 3vw;
  background-color: rgba(92, 156, 149, .5);
  color: #413931;
  overflow: hidden;
  z-index: 1
}
.skill-heading {
  margin: 15px 0;
  text-transform: none
}
@media screen and (min-width:601px) {
  .one-skill .overlay-effect {
    font-size: 2vw
  }
}
@media screen and (min-width:768px) {
  .one-skill .overlay-effect {
    font-size: 1vw
  }
}
@media screen and (max-width:768px) {
  .one-skill {
    margin-bottom: 10px
  }
}
#portfolio img {
  width: 100%;
  height: auto;
  object-fit: contain
}
.one-photo:hover .overlay-effect {
  opacity: 1
}
.one-photo:hover .photo {
  filter: blur(2px)
}
.one-photo .overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .4s ease-in-out;
  background-color: rgba(65,57,49,.644);
  color: #e7d2bc;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center
}
.one-photo .text {
  margin: 20px;
  font-size: 4vw
}
@media screen and (min-width:601px) {
  .one-photo .text {
    font-size: 17px
  }
}
footer {
  background-color: #5c9c94;
  color: #d2cbaa
}
footer ul.social li {
  font-family: "Font Awesome 5";
  margin-bottom: 0
}
footer ul.social li a i {
  margin-right: 5px;
  font-size: 20px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease
}
footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
  color: #354948
}
footer ul.social li a {
  color: #d2cbaa
}
footer ul.social li a:hover {
  color: #7c8173
}
footer p {
  color: #354948
}